body {
    background: black;
    color: aliceblue;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/images/headerimage.JPG");
    background-repeat: no-repeat;
    background-size: cover;

    height: 675px;
}

h1 {
    font-family: Playfair Display;
    font-size: 96px;
    font-weight: 700;
    line-height: 171px;
    padding-top: 200px;
}

button {
    padding: 16px 32px;
    border: 1px solid aliceblue;
    border-radius: 12px;
    background-color: aliceblue;
    font-family: Playfair Display;
    font-size: 18px;
}

button:hover {
    background-color: rgb(163, 199, 231);
    border: none;
    font-family: Playfair Display;
    transition: 1s;
    cursor: pointer;
}
.header-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    margin-top: -95px;
}
main {
    background-color: rgb(55, 9, 55);
}
section {
    padding: 60px;
}

main img {
    width: 600px;
    height: 800px;
}
main h2,
h3,
p {
    font-family: Playfair Display;
}
main p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
}

main h3 {
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-repeat: no-repeat;
}
.grid-bg {
    background-color: rgb(19, 14, 14);
}
.footer-web-paragraph {
    font-size: 15px;
}

.footer-content {
    padding-left: 80px;
}
.abt-me,
.abt-site {
    margin-left: 100px;
}

footer a {
    color: aliceblue;
}

@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }
    .footer-content {
        padding-left: 0;
    }
    footer {
        font-size: 12px;
    }
}
